* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('../fonts/BebasNeueBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Noto Sans", sans-serif;

}

html {
    font-size: 16px;
}

.container,
.container_2,
.container_4 {
    margin: 0 auto;
    overflow: hidden;
}

.container_2 {
    width: 75vw;
}

.container {
    width: 77vw;
}

.container_3 {
    width: 77vw;
    margin: auto;
    overflow: hidden;
    padding-left: 0.925vw;
}

.container_4 {
    width: 77vw;
    margin: auto;
    overflow: hidden;
    padding-left: .9375vw;
    padding-top: 0vw;
}

.container_5 {
    display: flex;
    width: 99vw;
    overflow: hidden;
    padding-top: 0w;
    gap: 7.5rem;
    flex-wrap: wrap;
}

.clients-text {
    color: var(--txt2, rgba(130, 138, 153, 1));
    font-family: "Noto Sans";
    font-style: Regular;
    font-size: 0.84vw;
    font-weight: 400;
    line-height: 161%;
    margin-top: 1.26rem;
    width: 36.7vw;
}


.header {
    min-height: 100vh;
    padding-top: 4.875vw;
}

.header.header-image {
    background-image: url("../images/main_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    position: relative;
}

.header.header-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #292D33;
    opacity: 60%;
}

.swiper-slide.card-container_71,
.swiper-slide.card-container_72 {
    position: relative;
    flex-basis: 47%;
}

.card-container_71::before,
.card-container_72::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #292D33;
    opacity: 60%;
}

.navbar {
    display: flex;
    align-items: center;
    color: #fff;
    height: 5vw;
    border-bottom: 1px solid rgba(235, 235, 240, 0.2);
    position: fixed;
    z-index: 1000;
    width: 100%;
    left: 0;
    top: 0;
    transition: 0.2s;
    overflow: auto;
}



.navbar-light {
    background-color: #fff;
    color: rgba(41, 45, 51, 1);
    height: 4.5vw;
}


.navbar-light .header-logo-path {
    fill: rgba(41, 45, 51, 1);
}



.mobile-nav-headers {
    list-style: none;
    margin-top: 3.5625vw;
    padding-top: 2.4vw;
}

.mobile-header-nav-link {
    text-decoration: none;
}

.mobile-header-nav-item:not(:first-child) {
    margin-top: 1.875vw;
}

.header-links {
    color: var(--txt, rgba(41, 45, 51, 1));
    font-family: Noto Sans;
    font-style: Bold;
    font-size: .875vw;
    font-weight: 700;
    line-height: 160%;
    word-break: break-all;
}

.submenu-header-links {
    padding-left: 1.25vw;
    padding-top: 1.25vw;
}

.submenu-text {
    list-style: none;

}

.submenu-text:not(:first-child) {
    margin-top: 0.91vw;
    letter-spacing: 0.009vw;

}


.submenu-text a {
    text-decoration: none;

}

.submenu-links-text {
    color: var(--txt2, rgba(130, 138, 153, 1));
    font-family: Noto Sans;
    font-style: Regular;
    font-size: .875vw;
    font-weight: 400;
    line-height: 160%;
    word-break: break-all;

}

.mobile-separator {
    background: var(--sep, rgba(235, 235, 240, 1));
    height: .0625vw;
    width: 100%;
    margin-top: 1.875vw;
}

.phone-number-info {
    color: var(--txt, rgba(41, 45, 51, 1));
    font-family: Noto Sans;
    font-style: SemiBold;
    font-size: 1.25vw;
    font-weight: 600;
    line-height: 160%;
    margin-top: 1.875vw;
    word-break: break-all;
}

.mobile-info {
    display: flex;
    gap: .625vw;
    align-items: center;
    margin-top: 1.25vw;
}



.header-logo {
    display: flex;
    align-items: center;
    padding: 1.5625vw 2.6125vw;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
    height: 100%;
    /* justify-content: center; */
}

.logo-svg {
    width: 7.3vw;
    height: 2.75vw;
}

.header-nav {
    display: flex;
    flex-basis: 100%;
    list-style: none;
    padding: 0px 2.5875vw;
    letter-spacing: 0.0094vw;
    overflow: auto;
    height: 100%;
}


.header-nav-item {
    display: flex;
    overflow: auto;
    align-items: center;

}

.header-nav-item:not(:last-child) {
    margin-right: 4.69%;
}

.header-nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.84vw;
    color: inherit;
    height: 100%;
}

.header-nav-link:hover {
    border-bottom: 1px solid rgba(92, 142, 230, 1);
    transition: 0.2s;
}

.header-phone-tel {
    display: block;
}

.header-phone-tel:hover {
    border-bottom: 1px solid rgba(92, 142, 230, 1);
    transition: 0.2s;
}

.header-phone {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 0.625vw;
    margin-right: 2.625vw;
    max-width: 12.7538vw;
    max-height: 100%;
    overflow: auto;
    height: 100%;
}

.header-phone:hover {
    border-bottom: 1px solid rgba(92, 142, 230, 1);
    transition: 0.2s;
}


.phone-svg {
    max-width: 1.3vw;
    max-height: 1.36vw;
    fill: #5c8ee5;
}

.phone-svg_2 {
    max-width: 2.4vw;
    max-height: 2.4vw;
}

.phone-svg-button {
    display: none;
    fill: #fff;
}


.header-phone-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    overflow-wrap: break-word;
    overflow-y: auto;
    height: 100%;
}

.tel-number {
    font-size: 0.83vw;
}


.header-button {
    font-weight: 600;
    font-size: 0.85vw;
    line-height: 160%;
    color: #fff;
    background-color: #5c8ee5;
    display: flex;
    align-items: center;
    gap: .625vw;
    border: 0;
    flex-shrink: 0;
    height: 100%;
    cursor: pointer;
    width: 14.7875vw;
    padding-left: 2.5625vw;
    letter-spacing: 0.02vw;
    overflow-y: auto;
}

.header-button:hover,
.buttonc:hover {
    background: rgba(58, 113, 209, 1);
}


.buttonc {
    font-weight: 600;
    font-size: 0.84vw;
    line-height: 160%;
    color: #fff;
    background: var(--main, rgba(92, 142, 230, 1));
    padding: 1.4vw 3.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    flex-shrink: 0;
    display: inline-block;
    cursor: pointer;
    margin-top: .4375vw;
}


.separate {
    background: #5C8EE5;
    width: 7.8vw;
    min-width: 6.25vw;
    height: 2px;
}

.header-content {
    padding-top: 7.8vw;
    position: relative;
    z-index: 1;
    color: #fff;
    padding-left: 1.2875vw;
    overflow: auto;
}

.header-title {
    width: 67.5vw;
    font-family: 'Bebas Neue Book';
    font-size: 4.189vw;
    line-height: 120%;
    margin: 1.1125vw 0;
    letter-spacing: .0275vw;
    overflow-wrap: break-word;
}

.header-text {
    width: 38vw;
    font-style: normal;
    font-size: 0.84vw;
    font-weight: 400;
    line-height: 160%;
    margin: 2vw 0;
    letter-spacing: 0.007vw;
    word-break: break-word;
}

.hide-swiper {
    display: none;
    width: 50rem;
}

.hide-swiper_2 {
    display: none;
}

.header-features {
    position: relative;
    display: flex;
    padding: 0;
    margin-top: 5.4rem;
    margin-left: 1.5vw;
    list-style: none;
    color: #fff;
    width: 75.125vw;
}

.imgs-logo {
    display: flex;
    margin-top: 1.7625vw;
    flex-wrap: wrap;
    width: 40vw;

}

.img-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12vw;
    height: 9vw;
    border: 1px solid rgba(235, 235, 240, 1);
    cursor: pointer;

    &:hover {
        border: 1px solid rgb(215, 215, 217);

        .bk {

            content: url("../images/sphere/bk_cololoro.svg")
        }
    }
}



.section-title_3 {
    color: rgba(41, 45, 51, 1);
    font-family: "Bebas Neue Book";
    font-size: 3.67rem;
    font-size: 3.16vw;
    line-height: 120%;
    margin-top: 2vw;
    /* margin-bottom: 2.625vw; */
    min-width: 0;
    word-break: break-all;
    display: inline-block;
    width: 100%;
    /* letter-spacing: 0vw; */

}

.big-blocks {
    display: flex;

}

.bk {
    cursor: pointer;
}




.img-head {
    width: 43.8vw;
    height: 34.4vw;
}

.header-features-item {
    padding: 1.26vw 2.3vw;
    border: 1px solid rgba(235, 235, 240, 0.2);
    letter-spacing: .025vw;
    width: 90.1875vw;

    max-width: 146rem;
}

.header-features-item:not(:last-child) {
    border-right: 0;
}

.sprite-icons {
    width: 1.8vw;
    height: 2.27vw;
}

.header-features-text {
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 160%;
    margin-top: 1vw;
    word-break: break-word;
}

.hide-swiper-section-light {
    display: none;

}

.section {
    padding-top: 9.375rem;
    padding-left: 1.3125vw;
}

.section-attitude-towards-the-client {
    padding-top: 9.375rem;
}

.container_6 {
    width: 77vw;
    margin: auto;
    overflow: hidden;
    padding-left: .9375vw;
    padding-top: 0w;

}

.three-blocks {
    display: flex;
    flex-wrap: wrap;
    width: 58%;
}

.categories-sphere {
    flex-basis: 50%;
}

.category-sphere {
    color: var(--txt, rgba(41, 45, 51, 1));
    font-family: "Noto Sans";
    font-style: Regular;
    font-size: 1vw;
    font-weight: 400;
    line-height: 160%;
    display: flex;
    gap: 1.25rem;
    cursor: pointer;
    align-items: center;


    &:hover {
        color: #5c8ee5;
    }
}

.category-sphere:not(:first-child) {
    margin-top: 1.5rem;
}





.section-title {
    color: rgba(41, 45, 51, 1);
    font-family: "Bebas Neue Book";
    font-size: 3.16vw;
    line-height: 120%;
    margin-top: 2vw;
    /* margin-bottom: 2.625vw; */
    min-width: 0;
    word-break: break-all;
    /* letter-spacing: 0vw; */


}

.section-title_2 {
    color: rgba(41, 45, 51, 1);
    font-family: "Bebas Neue Book";
    font-size: 3.16vw;
    line-height: 120%;
    margin-top: 2vw;
    /* margin-bottom: 2.625vw; */
    min-width: 0;
    word-break: break-all;
    width: 19.3vw;
}

#swiper_css {
    display: none;
}



.section.sphere {
    padding-top: 9.375rem;

}

.steps {
    display: flex;
    list-style: none;
    gap: 1.475vw;
    padding: 0;
    /* letter-spacing: 0vw; */
}

.steps-item {
    width: 17.225vw;
    margin-top: 3.125rem;
}

.steps-num {
    font-family: "Bebas Neue Book";
    color: rgba(92, 142, 230, 1);
    font-size: 2.7vw;
    line-height: 120%;
    display: flex;
    align-items: center;
    min-width: 0;
    overflow: auto;
}

.steps-num:after {
    content: "";
    height: 0.0625vw;
    background: rgba(235, 235, 240, 1);
    width: 100%;
    margin-left: 0.875vw;
}

.steps-title {
    color: rgba(41, 45, 51, 1);
    font-size: 1.5vw;
    line-height: 160%;
    margin-top: 1.619vw;

    letter-spacing: -0.0563vw;
    word-break: break-all;
}

.container_7 {
    width: 77vw;
    margin: auto;
    overflow: hidden;
    padding-left: .9375vw;
    padding-top: 0vw;
}


.swiper-wrapper.cards-container_7 {
    display: flex;
    margin-top: 3.125rem;
    gap: 1.875rem;
    width: 80vw;
}

.swiper.swiper-blob {
    width: 237vw;
}

.swiper-slide.card-container_71 {
    background-image: url("../images/blob/first.png");
    background-repeat: no-repeat;
    width: 44.0625rem;
    height: 20.8vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.cards-container_7-block {
    display: flex;
    justify-content: space-between;
    width: 76vw;
    align-items: end;
}



.card-title_2 {
    color: var(--white, rgba(255, 255, 255, 1));
    font-family: "Noto Sans";
    font-style: Regular;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 160%;
    width: 85.5%;
    z-index: 1;
    font-size: 1.46vw;
}

.card-text_2 {
    color: var(--white, rgba(255, 255, 255, 1));
    font-family: "Noto Sans";
    font-style: Regular;
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    width: 85.5%;
    z-index: 1;
    margin-top: .625rem;
    margin-bottom: 3.125rem;
}

.card-text_2.card-text_21 {
    color: var(--txt2, rgba(130, 138, 153, 1));
    font-family: "Noto Sans";
    font-style: Regular;
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    width: 85.5%;
    z-index: 1;
    margin-top: .625rem;
    margin-bottom: 3.125rem;
}


.swiper-slide.card-container_72 {
    background-image: url("../images/blob/second.png");
    background-repeat: no-repeat;
    width: 44.0625rem;
    height: 20.8vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.steps-text {
    color: rgba(130, 138, 153, 1);
    font-weight: 400;
    font-size: 0.84vw;
    line-height: 160%;
    margin-top: 0.525vw;

    overflow-wrap: break-word;
}

.steps-link {
    display: flex;
    align-items: center;
    color: rgba(92, 142, 230, 1);
    font-size: 0.84vw;
    line-height: 160%;
    text-decoration: none;
    font-weight: 600;
    min-width: 0;
    overflow: auto;
    margin-top: 1.25rem;
}

.steps-link_2 {
    display: flex;
    align-items: center;
    color: rgba(92, 142, 230, 1);
    font-size: 0.84vw;
    line-height: 160%;
    text-decoration: none;
    font-weight: 600;
    min-width: 0;
    overflow: auto;
    margin-top: 2rem;
}

.steps-link_2_1 {
    display: none;
    align-items: center;
    color: rgba(92, 142, 230, 1);
    font-size: 3.84vw;
    line-height: 160%;
    text-decoration: none;
    font-weight: 600;
    min-width: 0;
    overflow: auto;
    margin-top: 1rem;
}

.steps-link_2_1_2 {
    display: flex;
    align-items: center;
    color: rgba(92, 142, 230, 1);
    font-size: 0.84vw;
    line-height: 160%;
    text-decoration: none;
    font-weight: 600;
    min-width: 0;
    overflow: auto;
    margin-bottom: .5rem;
}

.steps-link:hover {
    color: rgba(58, 113, 209, 1);
}

.steps-link_2:hover {
    color: rgba(58, 113, 209, 1);
}

.steps-link_2_1:hover {
    color: rgba(58, 113, 209, 1);
}

.steps-link_2_1:before {
    content: "";
    height: .0625vw;
    background: rgba(92, 142, 230, 1);
    min-width: 9.9vw;
    margin-right: 1.25vw;

}

.steps-link_2_1_2:before {
    content: "";
    height: .0625vw;
    background: rgba(92, 142, 230, 1);
    min-width: 2.3vw;
    margin-right: 1.25vw;
}

.steps-link:before {
    content: "";
    height: .0625vw;
    background: rgba(92, 142, 230, 1);
    min-width: 1.9vw;
    margin-right: 1.25vw;
}

.steps-link_2:before {
    content: "";
    height: .0625vw;
    background: rgba(92, 142, 230, 1);
    min-width: 1.8vw;
    margin-right: 1.25vw;
}

.steps-link:before:hover {
    background: rgba(58, 113, 209, 1);
}

.steps-link_2:before:hover {
    background: rgba(58, 113, 209, 1);
}

.section.production {

    /* margin-bottom: 9.375vw; */

    /* padding-left: 1.3125vw; */

    padding-top: 9.375rem;

    height: 100%;
}

.cards {
    margin-top: 2.8625vw;
    display: flex;
    flex-wrap: wrap;
    width: 92vw;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 30.8625vw;
    padding: 1.9vw 2.25vw;
    border: 1px solid var(--sep, rgba(235, 235, 240, 1));
    cursor: pointer;




    &:hover {
        border: .0625vw solid var(--main, rgba(92, 142, 230, 1));

        .card-title {
            color: var(--main, rgba(92, 142, 230, 1));
            grid-area: title;
        }

    }

}


.card-image {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.texts-block {
    width: 102%;
    padding-right: 2.5625vw;
    padding-right: 1.875vw;
    padding-bottom: 1.4375vw;
}



#title-width {
    width: 118%;
}

#title-width2 {
    width: 118%;
}

#text-width2 {
    width: 83%;
}



.swiper-button-prev,
.swiper-button-next {
    height: 100%;
    flex-basis: 50%;
    border: 1px solid var(--sep_opacity, rgba(235, 235, 240, 0.2));
    padding: .7rem;
}

.card-title {
    color: var(--txt, rgba(41, 45, 51, 1));
    font-family: "Noto Sans";
    font-style: Regular;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 160%;
}

.slider-buttons_3 {
    background: var(--main, rgba(92, 142, 230, 1));
    border: none;
    padding: .5437rem;
    width: 6rem;
    display: flex;
    height: 6rem;
    padding-left: 8.8125rem;
    padding-top: 2.4375rem;
    min-width: 35%;
    max-width: 75%;
    overflow: hidden;
}



.card-text {
    display: inline-block;
    color: var(--txt2, rgba(130, 138, 153, 1));
    font-family: "Noto Sans";
    font-style: Regular;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 5.575vw;
    width: 88%;
    grid-area: text;
}

.card-text_2 {
    display: inline-block;
    font-family: "Noto Sans";
    font-style: Regular;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 160%;
    width: 85.5%;

}

.slider-buttons_21 {
    display: flex;
    height: 100%;
    padding-left: 18.2vw;
    padding-top: 3rem;
    min-width: 35%;
    max-width: 75%;
    overflow: hidden;

    align-items: end;
}




.slider-buttons_21 .swiper-button-prev,
.slider-buttons_21 .swiper-button-next {
    background: var(--main, rgba(92, 142, 230, 1));
    border: none;
    padding: .5437rem;
    width: 6rem;
}


.cards-container_4 {
    margin-top: 2.62vw;
    display: flex;
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.card-container_4 {
    display: grid;
    border: 1px solid var(--sep, rgba(235, 235, 240, 1));
    cursor: pointer;
    width: 50%;
    height: 18rem;
    grid-template-columns: 17.0625rem 1fr;
    grid-template-rows: 8.3125rem 2fr 2fr;
    align-items: center;
    grid-template-areas:
        "img-logo title"
        "img-logo text"
        "img-logo text";


    &:hover {

        border: 1px solid var(--main, rgba(92, 142, 230, 1));

        .card-title {
            color: var(--main, rgba(92, 142, 230, 1));
        }

        #triangle {
            content: url("../images/own-trademarks/triangle-blue.svg")
        }

        #logo-img {
            content: url("../images/own-trademarks/logo-img-blue.svg")
        }

    }

}


.card-container_4-imgs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11.25vw;
    grid-area: img-logo;
    /* align-items: end; */
}

#triangle:hover {
    content: url("../images/own-trademarks/triangle-blue.svg")
}

#logo-img:hover {
    content: url("../images/own-trademarks/logo-img-blue.svg")
}


.side-container {
    display: flex;
}



@media (max-width: 1300px) {
    html {
        font-size: 14px;
    }

    .header-logo {
        padding: 1.5625vw 2vw;
    }

    .header-nav {
        padding: 0px 1vw;
    }

    .header-nav-item:not(:last-child) {

        margin-right: 4%;
    }


    .header-nav-link {

        font-size: 12px;
        /* margin-right: 1.625vw; */
        max-width: 18vw;
    }

    .tel-number {

        font-size: 11px;
    }

    .header-button {
        font-size: 10px;
        gap: 0.625vw;
        width: 11.7875vw;
        padding-left: 0.8vw;

    }

    .section-title_3 {

        font-size: 3.16vw;


    }

    .header-phone {
        margin-right: 1.625vw;
        max-width: 11.7538vw;
    }

    .buttonc {
        font-size: 11px;
    }

    .header-text {
        font-size: 12px;
    }

    .header-features-text {
        font-size: 11px;
    }

    .card-text_2.card-text_21 {
        font-size: 1vw;
    }


    .steps-title {
        font-size: 21px;
    }

    .steps-text {
        font-size: 12px;
    }

    .card-text {
        font-size: 11px;
    }

    .clients-text {

        font-size: 1.5vw;

    }

    .steps-item {
        width: 18.225vw;
        margin-top: 1.6rem;
    }

    .steps-link_2 {
        font-size: 1.3vw;
    }

    .steps-link {
        font-size: 1.3vw;
    }


    .card-container_4 {
        width: 100%;
        height: 44%;
        grid-template-columns: 8.625rem 1fr;
        grid-template-rows: 8.3125rem 2fr 2fr;
    }

    #card-title-trade_1 {
        font-size: 28px;
        display: inline-block;
        margin: auto;
    }

    #card-title-trade_2 {
        font-size: 28px;
        display: inline-block;
        margin: auto;
    }

    #title-width {
        width: 100%;
        line-height: 148%;
    }

    #text-width2 {
        width: 95%;
    }

    .card-title {
        font-size: 21px;
    }

    .card-text {
        font-size: 1.45rem;
        padding: .5rem 0rem;
        line-height: 149%;
        margin-left: 2.3125rem;
        margin-top: 5.75rem;
        grid-area: 2 / 1 / 4 / 3;
        margin-bottom: 5.575vw;
        width: 96%;

    }

    .cards-container_4 {
        margin: 0;
        padding-top: 3rem;
        width: 92vw;
        max-width: 100%;

    }

    .big-blocks {
        display: flex;
        flex-wrap: wrap;
    }


    .categories-sphere {
        flex-basis: 50%;
    }


    .card-container_4-imgs-container {
        width: 12rem;
        height: 7.6rem;
        margin-bottom: 114px;
        margin-left: 1vw;

    }

    .steps-link_2_1_2 {

        font-size: 1.3vw;

    }

    .category-sphere {
        margin-top: 1.6rem;
    }

    .steps-num {
        font-size: 4vw;
    }


    .three-blocks {
        display: flex;
        flex-wrap: wrap;
        width: 56%;
    }

    .imgs-logo {
        width: 33vw;
        margin-top: 5vw;
    }

    .img-logo {
        width: 11vw;
        height: 10vw;
    }

    .cards {
        width: 77vw;
    }

    .card {
        width: 25.6vw;
        height: 35.8625vw;
    }

}

@media (max-width: 992px) {

    html {
        font-size: 1.008vw;
    }

    .header.header-image {
        background-position: center top;
    }

    .navbar {
        height: 17.74vw;
    }

    .mobile-menu {
        display: flex;
        padding: 6.19vw 7.74vw;
        border-right: 1px solid rgba(235, 235, 240, 0.2);
        width: 8.06vw;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        cursor: pointer;
    }

    .mobile-lines {
        max-width: 100%;
        height: 0.101vw;
        background: #fff;
        transition: 0.2s;
    }

    .mobile-lines:nth-child(2) {
        max-width: 80%;
    }

    .mobile-bc-white {
        display: none;
        position: absolute;
        z-index: 999;
        background-color: #fff;
        width: 100%;
        padding-left: 1.51vw;
        top: 0;
        left: 0;
    }

    .mobile-nav-headers {
        margin-top: 11.61vw;
        padding-top: 8vw;
    }

    .mobile-header-nav-item:not(:first-child) {
        margin-top: 7.23vw;
    }

    .header-links {
        font-size: 3.8vw;
    }

    .submenu-header-links {
        padding-left: 2.22vw;
        padding-top: 2.52vw;
    }

    .icons-messangers {
        padding-top: 5.16vw;
    }

    .submenu-text:not(:first-child) {
        margin-top: 2.32vw;
    }

    .submenu-links-text {
        font-size: 3.7vw;
    }

    .img-logo:last-child {
        display: none;
    }

    .mobile-separator {
        background: var(--sep, rgba(235, 235, 240, 1));
        height: 0.161vw;
        width: 100%;
        margin-top: 4.84vw;
    }

    .phone-number-info {
        display: block;
        color: var(--txt, rgba(41, 45, 51, 1));
        font-family: Noto Sans;
        font-size: 2.02vw;
        font-weight: 600;
        line-height: 160%;
        margin-top: 3.43vw;
        border-top: 1px solid var(--sep, rgba(235, 235, 240, 1));
        text-decoration-line: underline;
        width: 100%;
        padding-top: 7.74vw;
    }

    .phone-svg_2 {
        max-width: 2.52vw;
        max-height: 2.32vw;
    }

    .phone-svg-button {
        padding-left: 0;
    }

    .mobile-info_1,
    .mobile-info_2 {
        display: flex;
        align-items: center;
        gap: 2.58vw;
    }

    .mobile-info_1 {
        margin-top: 5.16vw;
    }

    .mobile-info_2 {
        margin-top: 2.58vw;
    }

    .address-info,
    .mail-info {
        color: var(--txt, rgba(41, 45, 51, 1));
        font-family: Noto Sans;
        font-size: 1.41vw;
        font-weight: 400;
        line-height: 160%;
        word-break: break-all;
        letter-spacing: 0.04vw;
    }

    .mail-info {
        text-decoration: none;
    }

    .icons-messangers {
        display: flex;
        padding-top: 5.16vw;
        gap: 3.87vw;
        align-items: center;
    }

    .phone-svg {
        width: 6.19vw;
        height: 6.19vw;
    }

    .header-logo {
        flex: 1;
        border: none;
        justify-content: center;
    }

    .logo-svg {
        width: 30.97vw;
        height: 9.76vw;
    }

    .header-nav,
    .header-phone,
    .consult {
        display: none;
    }

    .header-button {
        width: 20.65vw;
        padding: 5.65vw;
    }

    .phone-svg-button {
        display: flex;
        height: 100%;
    }

    .navbar-light {
        height: 12.65vw;
    }

    .navbar-light .mobile-menu {
        padding: 4.16vw 7.23vw;
        max-width: 8.06vw;
    }

    .navbar-light .mobile-lines {
        background-color: black;
    }

    .navbar-light .header-button {
        padding: 3.35vw 7.48vw;
    }

    .navbar-light .header-logo {
        padding-top: 1.29vw;
    }

    .header {
        padding-top: 23.23vw;
    }

    .container {
        max-width: 100%;
        padding: 0 0 0 2.58vw;
    }

    .header-content {
        padding-top: 7.54vw;
        position: relative;
        z-index: 1;
        color: #fff;
    }

    .separate {
        width: 25.81vw;
        height: 0.2vw;
    }

    .big-blocks {
        flex-wrap: wrap;
    }

    .categories-sphere {
        flex-basis: 100%;
    }

    .category-sphere {
        font-size: 1.41vw;
        margin-top: 4.13vw;
    }

    .header-title {
        width: 67.5vw;
        font-size: 12.39vw;
        padding-top: 1.51vw;
        margin: 0;
        letter-spacing: 0.03vw;
    }

    .header-text {
        font-size: 3.61vw;
        letter-spacing: 0.01vw;
        padding-top: 2.58vw;
        max-width: 55%;
    }

    .buttonc {
        font-size: 3.61vw;
        padding: 5.16vw 22.71vw;
        letter-spacing: 0.02vw;
        margin-top: 5.52vw;
    }

    .hide-swiper,
    .hide-swiper_2 {
        display: block;
    }

    .hide-swiper {
        min-width: 129.03vw;
        max-width: 100%;
        width: 198.71vw;
    }

    .section-attitude-towards-the-client {
        padding-top: 26.06vw;
    }

    .hide-swiper_2 {
        min-width: 167.74vw;
    }

    .slider-buttons {
        display: flex;
        height: 11.61vw;
        max-width: 93vw;
        padding-top: 5.42vw;
    }

    .swiper-button-prev,
    .swiper-button-next {
        height: 100%;
        flex-basis: 50%;
        border: 1px solid var(--sep_opacity, rgba(235, 235, 240, 0.2));
        padding: 1.81vw;
    }

    .buttons_2 {
        display: flex;
        justify-content: flex-end;
        max-width: 92vw;
    }

    .slider-buttons_2 {
        display: flex;
        height: 15.48vw;
        padding-left: 14.21vw;
        padding-top: 3.93vw;
        min-width: 35%;
        max-width: 75%;
        overflow: hidden;
    }

    .slider-buttons_2 .swiper-button-prev,
    .slider-buttons_2 .swiper-button-next {
        background: var(--main, rgba(92, 142, 230, 1));
        border: none;
        padding: 0.88vw;
        width: 15.48vw;
    }

    .header-features {
        display: none;
        padding-top: 11.87vw;
        padding-left: 0.52vw;
        width: 201.29vw;
        margin: 0;
    }

    .header-features-item {
        width: 41.29vw;
        padding: 5.16vw 7.23vw;
        max-width: 116.13vw;
    }

    .sprite-icons {
        width: 10.32vw;
        height: 9.29vw;
    }

    .header-features-text {
        font-size: 3.61vw;
        padding-top: 4.13vw;
        margin: 0;
    }

    .section {
        padding-top: 26.06vw;
        width: 100%;
        overflow: hidden;
        padding-left: 3.87vw;
    }

    .container_2,
    .container_3 {
        padding-left: 0;
    }

    .container_2 {
        width: 173.68vw;
    }

    .container_3 {
        width: 173.68vw;
        padding-left: 3.87vw;
    }

    .imgs-logo {
        width: 206.45vw;
    }

    .container_6 {
        all: initial;
        width: 99vw;
    }

    .container_4 {
        width: 173.68vw;
        padding-left: 0;
    }

    #swiper_css {
        display: block;
    }

    .steps {
        display: none;
        gap: 0;
    }

    .steps-item {
        padding: 6.45vw 12.9vw 0 0;
    }

    .steps-num {
        font-size: 12.39vw;
    }

    .steps-title {
        font-size: 5.16vw;
        margin: 0;
        padding-top: 3.1vw;
    }

    .steps-text {
        font-size: 3.61vw;
        padding: 0.81vw 0.1vw;
        margin: 0;
    }

    .steps-link {
        font-size: 3.87vw;
        margin: 0;
        gap: 1.81vw;
        padding-top: 3.87vw;
    }

    .steps-link:before {
        min-width: 10vw;
    }

    .section.production {
        padding-top: 26.06vw;
        padding-left: 0;
    }

    .card {
        width: 84.9vw;
        height: 110.71vw;
        padding: 4.13vw 7.74vw;
    }

    .cards {
        padding-top: 8.52vw;
        flex-wrap: wrap;
        margin: 0;
    }

    .texts-block {
        padding: 0;
        width: 100%;
    }

    #title-width {
        width: 99%;
        line-height: 126%;
    }

    #text-width2 {
        width: 95%;
    }

    .card-title {
        font-size: 5.93vw;
    }

    .card-text {
        font-size: 3.61vw;
        letter-spacing: 0.02rem;
        padding: 1.29vw 0;
        line-height: 149%;
        margin-left: 3.02vw;
        margin-top: 2.42vw;
        grid-area: 2 / 1 / 4 / 3;
        width: 95%;
    }

    .three-blocks {
        width: 96%;
    }

    .card-text_2 {
        font-size: 3.61vw;
        padding: 1.29vw 0;
        line-height: 139%;
        margin-left: 0;
        margin-top: 0.1vw;
        grid-area: 2 / 1 / 4 / 3;
        margin-bottom: 5.62vw;
        width: 95%;
    }

    .cards-container_4 {
        margin: 0;
        padding-top: 7.74vw;
        width: 92vw;
        max-width: 100%;
    }

    .card-container_4 {
        width: 100%;
        height: 44%;
        grid-template-columns: 22.26vw 1fr;
        grid-template-rows: 21.45vw 2fr 2fr;
        padding-top: 5.16vw;
    }

    .section.sphere {
        padding-top: 26.06vw;
    }

    .card-container_4-imgs-container {
        width: 30.97vw;
        height: 19.61vw;
        margin-bottom: 25.81vw;
        margin-left: 1.71vw;
    }

    .section-title {
        font-size: 9.47vw;
        padding-top: 4.39vw;
        margin: 0;
    }

    #card-title-trade_1 {
        display: inline-block;
        margin: 0 10.84vw 9.81vw;
    }

    #card-title-trade_2 {
        display: inline-block;
        margin: 0 10.84vw 9.81vw;
    }

    .img-head {
        min-height: 77.42vw;
        width: 100vw;
        height: 65vw;
    }

    .bk {
        width: 14.45vw;
    }

    .container_5 {
        all: initial;
        gap: 13.42vw;
        width: 100vw;
    }

    .section-title_2 {
        color: rgba(41, 45, 51, 1);
        font-family: "Bebas Neue Book";
        font-size: 9.47vw;
        line-height: 120%;
        margin-top: 4.76vw;
        min-width: 0;
        word-break: break-all;
        width: 76vw;
    }

    .clients-text {
        color: var(--txt2, rgba(130, 138, 153, 1));
        font-family: "Noto Sans";
        font-style: Regular;
        font-size: 1.41vw;
        font-weight: 400;
        line-height: 161%;
        margin-top: 1.81vw;
        width: 81vw;
    }

    .steps-link_2 {
        display: none;
    }

    .steps-link_2_1 {
        display: flex;
        align-items: center;
        color: rgba(92, 142, 230, 1);
        font-size: 3.87vw;
        line-height: 160%;
        text-decoration: none;
        font-weight: 600;
        min-width: 0;
        overflow: auto;
        margin-top: 2.58vw;
        gap: 1.81vw;
    }

    .clients-div {
        padding-left: 4vw;
        width: 98vw;
    }

}