* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('../fonts/BebasNeueBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Noto Sans", sans-serif;

}

html {
    font-size: 16px;
}

.container,
.container_2,
.container_4 {
    margin: 0 auto;
    overflow: hidden;
}

.container_2 {
    width: 75vw;
}

.container {
    width: 77vw;
}

.container_3 {
    width: 77vw;
    margin: auto;
    overflow: hidden;
    padding-left: 0.925vw;
}

.container_4 {
    width: 77vw;
    margin: auto;
    overflow: hidden;
    padding-left: .9375vw;
    padding-top: 0w;
}


.header {
    min-height: 100vh;
    padding-top: 4.875vw;
}

.header.header-image {
    background-image: url("../images/main_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    position: relative;
}

.header.header-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #292D33;
    opacity: 60%;
}

.navbar {
    display: flex;
    align-items: center;
    color: #fff;
    height: 5vw;
    border-bottom: 1px solid rgba(235, 235, 240, 0.2);
    position: fixed;
    z-index: 1000;
    width: 100%;
    left: 0;
    top: 0;
    transition: 0.2s;
    overflow: auto;
}



.navbar-light {
    background-color: #fff;
    color: rgba(41, 45, 51, 1);
    height: 4.5vw;
}


.navbar-light .header-logo-path {
    fill: rgba(41, 45, 51, 1);
}



.mobile-nav-headers {
    list-style: none;
    margin-top: 3.5625vw;
    padding-top: 2.4vw;
}

.mobile-header-nav-link {
    text-decoration: none;
}

.mobile-header-nav-item:not(:first-child) {
    margin-top: 1.875vw;
}

.header-links {
    color: var(--txt, rgba(41, 45, 51, 1));
    font-family: Noto Sans;
    font-style: Bold;
    font-size: .875vw;
    font-weight: 700;
    line-height: 160%;
    word-break: break-all;
}

.submenu-header-links {
    padding-left: 1.25vw;
    padding-top: 1.25vw;
}

.submenu-text {
    list-style: none;

}

.submenu-text:not(:first-child) {
    margin-top: 0.91vw;
    letter-spacing: 0.009vw;

}


.submenu-text a {
    text-decoration: none;

}

.submenu-links-text {
    color: var(--txt2, rgba(130, 138, 153, 1));
    font-family: Noto Sans;
    font-style: Regular;
    font-size: .875vw;
    font-weight: 400;
    line-height: 160%;
    word-break: break-all;

}

.mobile-separator {
    background: var(--sep, rgba(235, 235, 240, 1));
    height: .0625vw;
    width: 100%;
    margin-top: 1.875vw;
}

.phone-number-info {
    color: var(--txt, rgba(41, 45, 51, 1));
    font-family: Noto Sans;
    font-style: SemiBold;
    font-size: 1.25vw;
    font-weight: 600;
    line-height: 160%;
    margin-top: 1.875vw;
    word-break: break-all;
}

.mobile-info {
    display: flex;
    gap: .625vw;
    align-items: center;
    margin-top: 1.25vw;
}



.header-logo {
    display: flex;
    align-items: center;
    padding: 1.5625vw 2.6125vw;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
    height: 100%;
    /* justify-content: center; */
}

.logo-svg {
    width: 7.3vw;
    height: 2.75vw;
}

.header-nav {
    display: flex;
    flex-basis: 100%;
    list-style: none;
    padding: 0px 2.5875vw;
    letter-spacing: 0.0094vw;
    overflow: auto;
    height: 100%;
}


.header-nav-item {
    display: flex;
    overflow: auto;
    align-items: center;

}

.header-nav-item:not(:last-child) {
    margin-right: 4.69%;
}

.header-nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.84vw;
    color: inherit;
    height: 100%;
}

.header-nav-link:hover {
    border-bottom: 1px solid rgba(92, 142, 230, 1);
    transition: 0.2s;
}

.header-phone-tel {
    display: block;
}

.header-phone-tel:hover {
    border-bottom: 1px solid rgba(92, 142, 230, 1);
    transition: 0.2s;
}

.header-phone {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 0.625vw;
    margin-right: 2.625vw;
    max-width: 12.7538vw;
    max-height: 100%;
    overflow: auto;
    height: 100%;
}

.header-phone:hover {
    border-bottom: 1px solid rgba(92, 142, 230, 1);
    transition: 0.2s;
}


.phone-svg {
    max-width: 1.3vw;
    max-height: 1.36vw;
    fill: #5c8ee5;
}

.phone-svg_2 {
    max-width: 2.4vw;
    max-height: 2.4vw;
}

.phone-svg-button {
    display: none;
    fill: #fff;
}


.header-phone-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    overflow-wrap: break-word;
    overflow-y: auto;
    height: 100%;
}

.tel-number {
    font-size: 0.83vw;
}


.header-button {
    font-weight: 600;
    font-size: 0.85vw;
    line-height: 160%;
    color: #fff;
    background-color: #5c8ee5;
    display: flex;
    align-items: center;
    gap: .625vw;
    border: 0;
    flex-shrink: 0;
    height: 100%;
    cursor: pointer;
    width: 14.7875vw;
    padding-left: 2.5625vw;
    letter-spacing: 0.02vw;
    overflow-y: auto;
}

.header-button:hover,
.buttonc:hover {
    background: rgba(58, 113, 209, 1);
}


.buttonc {
    font-weight: 600;
    font-size: 0.84vw;
    line-height: 160%;
    color: #fff;
    background: var(--main, rgba(92, 142, 230, 1));
    padding: 1.4vw 3.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    flex-shrink: 0;
    display: inline-block;
    cursor: pointer;
    margin-top: .4375vw;
}


.separate {
    background: #5C8EE5;
    width: 7.8vw;
    min-width: 6.25vw;
    height: 1px;
}

.header-content {
    padding-top: 7.8vw;
    position: relative;
    z-index: 1;
    color: #fff;
    padding-left: 1.2875vw;
    overflow: auto;
}

.header-title {
    width: 67.5vw;
    font-family: 'Bebas Neue Book';
    font-size: 4.189vw;
    line-height: 120%;
    margin: 1.1125vw 0;
    letter-spacing: .0275vw;
    overflow-wrap: break-word;
}

.header-text {
    width: 38vw;
    font-style: normal;
    font-size: 0.84vw;
    font-weight: 400;
    line-height: 160%;
    margin: 2vw 0;
    letter-spacing: 0.007vw;
    word-break: break-word;
}

.hide-swiper {
    display: none;
    width: 50rem;
}

.hide-swiper_2 {
    display: none;
}

.header-features {
    position: relative;
    display: flex;
    padding: 0;
    margin-top: 5.4rem;
    margin-left: 1.5vw;
    list-style: none;
    color: #fff;
    width: 75.125vw;
}

.header-features-item {
    padding: 1.26vw 2.3vw;
    border: 1px solid rgba(235, 235, 240, 0.2);
    letter-spacing: .025vw;
    width: 90.1875vw;

    max-width: 146rem;
}

.header-features-item:not(:last-child) {
    border-right: 0;
}

.sprite-icons {
    width: 1.8vw;
    height: 2.27vw;
}

.header-features-text {
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 160%;
    margin-top: 1vw;
    word-break: break-word;
}

.hide-swiper-section-light {
    display: none;

}

.section {
    padding-top: 8.8875vw;
    padding-left: 1.3125vw;
}



.section-title {
    color: rgba(41, 45, 51, 1);
    font-family: "Bebas Neue Book";
    font-size: 3.16vw;
    line-height: 120%;
    margin-top: 1.7625vw;
    /* margin-bottom: 2.625vw; */
    min-width: 0;
    word-break: break-all;
    /* letter-spacing: 0vw; */
}

#swiper_css {
    display: none;
}

.steps {
    display: flex;
    list-style: none;
    gap: 1.475vw;
    padding: 0;
    /* letter-spacing: 0vw; */
}

.steps-item {
    width: 17.225vw;
}

.steps-num {
    font-family: "Bebas Neue Book";
    color: rgba(92, 142, 230, 1);
    font-size: 2.7vw;
    line-height: 120%;
    display: flex;
    align-items: center;
    min-width: 0;
    overflow: auto;
}

.steps-num:after {
    content: "";
    height: 0.0625vw;
    background: rgba(235, 235, 240, 1);
    width: 100%;
    margin-left: 0.875vw;
}

.steps-title {
    color: rgba(41, 45, 51, 1);
    font-size: 1.46vw;
    line-height: 160%;
    margin-top: 1.8vw;
    margin-bottom: .625vw;
    letter-spacing: -0.0563vw;
    word-break: break-all;
}

.steps-text {
    color: rgba(130, 138, 153, 1);
    font-weight: 400;
    font-size: 0.84vw;
    line-height: 160%;
    margin-top: 0.625vw;
    margin-bottom: 0.9vw;
    overflow-wrap: break-word;
}

.steps-link {
    display: flex;
    align-items: center;
    color: rgba(92, 142, 230, 1);
    font-size: 0.84vw;
    line-height: 160%;
    text-decoration: none;
    font-weight: 600;
    min-width: 0;
    overflow: auto;
}

.steps-link:hover {
    color: rgba(58, 113, 209, 1);
}

.steps-link:before {
    content: "";
    height: .0625vw;
    background: rgba(92, 142, 230, 1);
    min-width: 1.8vw;
    margin-right: 1.25vw;
}

.steps-link:before:hover {
    background: rgba(58, 113, 209, 1);
}

.section.production {

    /* margin-bottom: 9.375vw; */

    /* padding-left: 1.3125vw; */

    padding-top: 6.4vw;

    height: 100%;
}

.cards {
    margin-top: 2.8625vw;
    display: flex;
    flex-wrap: wrap;
    width: 92vw;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 30.8625vw;
    padding: 1.9vw 2.25vw;
    border: 1px solid var(--sep, rgba(235, 235, 240, 1));
    cursor: pointer;




    &:hover {
        border: .0625vw solid var(--main, rgba(92, 142, 230, 1));

        .card-title {
            color: var(--main, rgba(92, 142, 230, 1));
            grid-area: title;
        }

    }

}


.card-image {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.texts-block {
    width: 102%;
    padding-right: 2.5625vw;
    padding-right: 1.875vw;
    padding-bottom: 1.4375vw;
}



#title-width {
    width: 118%;
}

#title-width2 {
    width: 118%;
}

#text-width2 {
    width: 83%;
}




.card-title {
    color: var(--txt, rgba(41, 45, 51, 1));
    font-family: "Noto Sans";
    font-style: Regular;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 160%;
}



.card-text {
    display: inline-block;
    color: var(--txt2, rgba(130, 138, 153, 1));
    font-family: "Noto Sans";
    font-style: Regular;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 5.575vw;
    width: 88%;
    grid-area: text;
}

.card-text_2 {
    display: inline-block;
    color: var(--txt2, rgba(130, 138, 153, 1));
    font-family: "Noto Sans";
    font-style: Regular;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 5.575vw;
    width: 88%;
}

.cards-container_4 {
    margin-top: 2.7625vw;
    display: flex;
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container_4 {
    display: grid;
    border: 1px solid var(--sep, rgba(235, 235, 240, 1));
    cursor: pointer;
    width: 50%;
    height: 15vw;
    grid-template-columns: 273px 1fr;
    grid-template-rows: 133px 2fr 2fr;
    align-items: center;
    grid-template-areas:
        "img-logo title"
        "img-logo text"
        "img-logo text";






























    &:hover {

        border: 1px solid var(--main, rgba(92, 142, 230, 1));

        .card-title {
            color: var(--main, rgba(92, 142, 230, 1));
        }

        #triangle {
            content: url("../images/own-trademarks/triangle-blue.svg")
        }

        #logo-img {
            content: url("../images/own-trademarks/logo-img-blue.svg")
        }

    }

}

.card-container_4-imgs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11.25vw;
    grid-area: img-logo;
    /* align-items: end; */
}

#triangle:hover {
    content: url("../images/own-trademarks/triangle-blue.svg")
}

#logo-img:hover {
    content: url("../images/own-trademarks/logo-img-blue.svg")
}



@media (max-width: 1300px) {
    html {
        font-size: 14px;
    }

    .header-logo {
        padding: 1.5625vw 2vw;
    }

    .header-nav {
        padding: 0px 1vw;
    }

    .header-nav-item:not(:last-child) {

        margin-right: 4%;
    }


    .header-nav-link {

        font-size: 12px;
        /* margin-right: 1.625vw; */
        max-width: 18vw;
    }

    .tel-number {

        font-size: 11px;
    }

    .header-button {
        font-size: 10px;
        gap: 0.625vw;
        width: 11.7875vw;
        padding-left: 0.8vw;

    }

    .header-phone {
        margin-right: 1.625vw;
        max-width: 11.7538vw;
    }

    .buttonc {
        font-size: 11px;
    }

    .header-text {
        font-size: 12px;
    }

    .header-features-text {
        font-size: 11px;
    }

    .steps-title {
        font-size: 14px;
    }

    .steps-text {
        font-size: 11px;
    }

    .card-text {
        font-size: 11px;
    }

    .card-container_4 {
        width: 100%;
        height: 44%;
        grid-template-columns: 138px 1fr;
        grid-template-rows: 133px 2fr 2fr;
    }

    #card-title-trade_1 {
        display: inline-block;
        margin: 0 44px 38px;
    }

    #card-title-trade_2 {
        display: inline-block;
        margin: 0 44px 38px;
    }

    #title-width {
        width: 100%;
        line-height: 148%;
    }

    #text-width2 {
        width: 95%;
    }

    .card-title {
        font-size: 2.04rem;
    }

    .card-text {
        font-size: 1.45rem;
        padding: 0.5rem 0rem;
        line-height: 149%;
        margin-left: 37px;
        margin-top: 12px;
        grid-area: 2 / 1 / 4 / 3;
        margin-bottom: 5.575vw;
        width: 96%;

    }

    .cards-container_4 {
        margin: 0;
        padding-top: 3rem;
        width: 92vw;
        max-width: 100%;
        
    }

    .card-container_4 {
        width: 100%;
        height: 44%;
        grid-template-columns: 138px 1fr;
        grid-template-rows: 176px 2fr 2fr;
    }



    .card-container_4-imgs-container {
        width: 12rem;
        height: 7.6rem;
        margin-bottom: 114px;
        margin-left: 17px;

    }

}

@media (max-width: 992px) {
    html {
        font-size: 10px;
    }

    .header.header-image {
        background-position: center top;
    }

    .navbar {
        height: 6.875rem;
    }

    .mobile-menu {
        display: flex;
        padding: 2.4rem 3rem;
        border-right: 1px solid rgba(235, 235, 240, 0.2);
        width: 80px;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        cursor: pointer;
    }

    .mobile-lines {
        max-width: 100%;
        height: 1px;
        background: #fff;
        transition: 0.2s;
    }

    .mobile-lines:nth-child(2) {
        max-width: 80%;
    }

    .mobile-bc-white {
        display: none;
        position: absolute;
        z-index: 999;
        background-color: #fff;
        width: 100%;
        padding-left: 15px;
        top: 0;
        left: 0;
    }

    .mobile-nav-headers {
        margin-top: 4.5rem;
        padding-top: 3.1rem;
    }

    .mobile-header-nav-item:not(:first-child) {
        margin-top: 2.8rem;
    }

    .header-links {

        font-size: 3.8vw;
    }

    .submenu-header-links {
        padding-left: 22px;
        padding-top: 25px;
    }

    .icons-messangers {
        padding-top: 2rem;
    }

    .submenu-text:not(:first-child) {
        margin-top: 0.9rem;
    }

    .submenu-links-text {
        font-size: 3.7vw;
    }



    .mobile-separator {
        background: var(--sep, rgba(235, 235, 240, 1));
        height: .0625rem;
        width: 100%;
        margin-top: 1.875rem;
    }

    .phone-number-info {
        display: block;
        color: var(--txt, rgba(41, 45, 51, 1));
        font-family: Noto Sans;
        font-size: 20px;
        font-weight: 600;
        line-height: 160%;
        margin-top: 34px;
        border-top: 1px solid var(--sep, rgba(235, 235, 240, 1));
        text-decoration-line: underline;
        width: 100%;
        padding-top: 3rem;
    }

    .phone-svg_2 {
        max-width: 25px;
        max-height: 23px;
    }

    .phone-svg-button {
        padding-left: 0
    }

    .mobile-info_1,
    .mobile-info_2 {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .mobile-info_1 {
        margin-top: 2rem;
    }

    .mobile-info_2 {
        margin-top: 1rem;
    }

    .address-info,
    .mail-info {
        color: var(--txt, rgba(41, 45, 51, 1));
        font-family: Noto Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 160%;
        word-break: break-all;
        letter-spacing: 0.4px;
    }

    .mail-info {
        text-decoration: none;
    }

    .icons-messangers {
        display: flex;
        padding-top: 2rem;
        gap: 1.5rem;
        align-items: center;
    }

    .phone-svg {
        width: 2.4rem;
        height: 2.4rem;
    }

    .header-logo {
        flex: 1;
        border: none;
        justify-content: center;
    }

    .logo-svg {
        width: 12rem;
        height: 3.78rem;
    }

    .header-nav,
    .header-phone,
    .consult {
        display: none;
    }

    .header-button {
        width: 8rem;
        padding: 2.19rem;
    }

    .phone-svg-button {
        display: flex;
        height: 100%;
    }

    .navbar-light {
        height: 4.9rem;
    }

    .navbar-light .mobile-menu {
        padding: 1.61rem 2.8rem;
        max-width: 80px;
    }

    .navbar-light .mobile-lines {
        background-color: black;
    }

    .navbar-light .header-button {
        padding: 1.3rem 2.9rem;
    }

    .navbar-light .header-logo {
        padding-top: 0.5rem;
    }

    .header {
        padding-top: 9rem;
    }

    .container {
        min-width: 37rem;
        max-width: 86rem;
        padding: 0rem 0 0 1rem;
    }

    .header-content {
        padding-top: 2.92rem;
        position: relative;
        z-index: 1;
        color: #fff;

    }

    .separate {
        width: 10rem;
        height: 1px;
    }

    .header-title {
        width: 67.5vw;
        min-width: 26.5rem;
        font-size: 4.8rem;
        padding-top: 15px;
        margin: 0;
        letter-spacing: 0.3px;
    }

    .header-text {
        min-width: 32.2rem;
        font-size: 1.4rem;
        letter-spacing: 0.1px;
        padding-top: 1rem;
        max-width: 55%;
    }

    .buttonc {
        font-size: 1.4rem;
        padding: 2rem 8.8rem;
        letter-spacing: 0.19px;
        margin-top: 2.1375rem;
    }

    .hide-swiper,
    .hide-swiper_2 {
        display: block;
    }

    .hide-swiper {
        min-width: 50rem;
        max-width: 100%;
        width: 77rem;
    }

    .hide-swiper_2 {
        min-width: 65rem;
    }

    .slider-buttons {
        display: flex;
        height: 4.5rem;
        max-width: 70%;
        padding-top: 2.1rem;
        max-width: 93vw;
    }

    .swiper-button-prev,
    .swiper-button-next {
        height: 100%;
        flex-basis: 50%;
        border: 1px solid var(--sep_opacity, rgba(235, 235, 240, 0.2));
        padding: 0.7rem;
    }

    .buttons_2 {
        display: flex;
        justify-content: flex-end;
        max-width: 92vw;
    }

    .slider-buttons_2 {
        display: flex;
        height: 6rem;
        padding-left: 141px;
        padding-top: 39px;
        min-width: 35%;
        max-width: 75%;
        overflow: hidden;

    }

    .slider-buttons_2 .swiper-button-prev,
    .slider-buttons_2 .swiper-button-next {
        background: var(--main, rgba(92, 142, 230, 1));
        border: none;
        padding: 8.7px;
        width: 6rem;
    }

    .header-features {
        display: none;
        padding-top: 4.6rem;
        padding-left: 0.2rem;
        width: 78rem;
        margin: 0;
    }

    .header-features-item {
        width: 16rem;
        padding: 2rem 2.8rem;
        max-width: 45rem;
    }

    .sprite-icons {
        width: 4rem;
        height: 3.6rem;
    }

    .header-features-text {
        font-size: 1.4rem;
        padding-top: 1.6rem;
        margin: 0;
    }

    .section {
        padding-top: 10.1rem;
        width: 100%;
        overflow: hidden;
        padding-left: 1.5rem;
    }

    .container_2,
    .container_3 {
        min-width: 34.48rem;
        padding-left: 0;
    }

    .container_2 {
        width: 67.3rem;
    }

    .container_3 {
        width: 67.3rem;
        padding-left: 1.1rem;
    }

    .container_4 {
        width: 67.3rem;
        padding-left: 0;

    }

    #swiper_css {
        display: block;
    }

    .steps {
        display: none;
        gap: 0;
    }

    .steps-item {
        padding: 2.5rem 5rem 0 0;
    }

    .steps-num {
        font-size: 4.8rem;
    }

    .steps-title {
        font-size: 2rem;
        margin: 0;
        padding-top: 1.2rem;
    }

    .steps-text {
        font-size: 1.4rem;
        padding: 8px 1px;
        margin: 0;
    }

    .steps-link {
        font-size: 1.5rem;
        margin: 0;
        gap: 18px;
        padding-top: 1.5rem;
    }

    .steps-link:before {
        min-width: 10vw;
    }

    .section.production {
        padding-top: 10rem;
        padding-left: 0;
    }

    .card {
        width: 32.7rem;
        height: 42.9rem;
        padding: 1.6rem 3rem;
    }

    .cards {
        padding-top: 3.3rem;
        flex-wrap: wrap;
        min-width: 34.7rem;
        margin: 0;
    }

    .texts-block {
        padding: 0;
        /* padding-bottom: 1.4375vw; */
        width: 107%;
    }

    #title-width {
        width: 100%;
        line-height: 148%;
    }

    #text-width2 {
        width: 95%;
    }

    .card-title {
        font-size: 2.04rem;
    }

    .card-text {
        font-size: 1.45rem;
        padding: 0.5rem 0rem;
        line-height: 149%;
        margin-left: 19px;
        margin-top: 12px;
        grid-area: 2 / 1 / 4 / 3;
        margin-bottom: 5.575vw;
        width: 100%;
    }

    .card-text_2 {
        font-size: 1.45rem;
        padding: 0.5rem 0rem;
        line-height: 149%;
        margin-left: 0;
        margin-top: 12px;
        grid-area: 2 / 1 / 4 / 3;
        margin-bottom: 5.575vw;
        width: 100%;
    }

    .cards-container_4 {
        margin: 0;
        padding-top: 3rem;
        width: 92vw;
        max-width: 100%;
    }

    .card-container_4 {
        width: 100%;
        height: 44%;
        grid-template-columns: 138px 1fr;
        grid-template-rows: 133px 2fr 2fr;
    }



    .card-container_4-imgs-container {
        width: 12rem;
        height: 7.6rem;
        margin-bottom: 95px;
        margin-left: 17px;
    }


    .section-title {
        font-size: 3.67rem;
        padding-top: 1.7rem;
        margin: 0;
    }

    #card-title-trade_1 {
        display: inline-block;
        margin: 20px;
    }

    #card-title-trade_2 {
        display: inline-block;
        margin: 0 22px 38px;
    }

}