* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('../fonts/BebasNeueBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Noto Sans", sans-serif;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.header {
    min-height: 100vh;
}

.header.header-image {
    background-image: url("../images/main_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.header.header-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #292D33;
    opacity: 40%;
}

.navbar {
    display: flex;
    align-items: center;
    color: #fff;
    height: 94px;
    border-bottom: 1px solid rgba(235, 235, 240, 0.2);
    position: relative;
}

.header-logo {
    padding: 25px 50px;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
    height: 100%;
}

.header-nav {
    display: flex;
    flex-basis: 100%;
    list-style: none;
    padding: 0 50px;
}

.header-nav-link {
    text-decoration: none;
    font-size: 16px;
    margin-right: 50px;
    color: inherit;
}

.header-phone {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 50px;
}

.header-phone-link {
    text-decoration: none;
    color: inherit;
}

.header-button {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #fff;
    background-color: #3A71D1;
    padding: 25px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 0;
    flex-shrink: 0;
    height: 100%;
    cursor: pointer;
}

.buttonc {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #fff;
    background-color: #3A71D1;
    padding: 25px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    flex-shrink: 0;
    display: inline-block;
    cursor: pointer;
}

.separate {
    background: #5C8EE5;
    width: 150px;
    height: 2px;
}

.header-content {
    padding-top: 150px;
    position: relative;
    z-index: 1;
    color: #fff;
}

.header-title {
    max-width: 1080px;
    font-family: 'Bebas Neue Book';
    font-size: 80px;
    line-height: 120%;
    margin: 30px 0;
}

.header-text {
    max-width: 720px;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    margin: 50px 0;
}

.header-features {
    position: relative;
    display: flex;
    min-height: 168px;
    padding: 0;
    margin-top: 100px;
    list-style: none;
    color: #fff;
}

.header-features-item {
    padding: 30px 50px;
    border: 1px solid rgba(235, 235, 240, 0.2);
}

.header-features-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

.header-features-item:not(:last-child) {
    border-right: 0;
}